body{
	width: auto;
	margin: 0 auto;
	background-color: #FFF;
	background-image: url('../images/back-player-educativa.png');
	background-repeat: repeat-x;
	text-align: center;
}

#content{
	width:auto;
    margin: 0 auto;
    text-align: center;
}