div#topo img {
        width: 600px;
    /* height: 100px; */
    position: absolute;
    /* top: 50%; */
    left: 30%;
    margin-top: 0px;
    margin-left: -50px;
}

div#topo {
    height: 280px;
}

li {
    padding-left: 50px;
    padding-top: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
    width: 30%;
    display: inline-table;
}

div#rodape {
    /*position: absolute; */
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}
   
   
 .sair {
    padding-bottom: 25px;
}